/** @format */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}
#app {
  display: flex;
  height: 100%;
  width: 100%;
}
.over {
  overflow-y: hidden;
  overflow-x: hidden;
}
.app__wrapper {
  width: 1400px;
  min-width: 576px;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.first_slide {
  display: flex;
  position: relative;
  height: 1100px;
}
.first_slide__wrapper {
  width: 100%;
  color: aliceblue;
  display: flex;
}
.first_slide__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/Rectangle3.png");
  background-position: center;
  background-size: cover;
}
.first_slide_info__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
.first_slide__info {
  width: 1120px;
  min-width: 576px;
  margin: auto;
  height: 100%;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding: 0 33px 0 33px;
}

.first_slide_text > h1 {
  font-size: 64px;
  margin-bottom: 50px;
  font-weight: 700;
}
.first_slide_text > p {
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  font-size: 14px;
  margin-bottom: 50px;
}
.first_slide_button {
  width: 160px;
  height: 50px;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 18px;
  border: none;
  color: white;
  background-color: #d1a954;
}
.wrapper {
  height: 1100px;
  display: flex;
  width: 100%;
  min-width: 576px;
  flex-direction: column;
  align-items: center;
}
.sidebar {
  height: 1100px;
  width: 150px;
  background: rgba(51, 51, 51, 0.75);
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.sidebar__wrapper {
  position: absolute;
  top: 650px;
  width: auto;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c4c4c4;
}
.sidebar__wrapper > p {
  display: flex;
  justify-content: center;
  width: 300px;
}
.sidebar__wrapper > img {
  margin-right: 50px;
  transform: rotate(-90deg);
}
.img__wrapper {
  display: flex;
  margin-right: 80px;
  align-items: center;
}
.img__wrapper > img {
  transform: rotate(90deg);
  margin-right: 15px;
  margin-left: 15px;
}
.inst1 {
  background-image: url(./img/instagram.png);
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
}
.inst1:hover {
  background-image: url(./img/instagram--active.png);
}
.facebook1 {
  margin-right: 20px;
  background-image: url(./img/facebook.png);
  width: 28px;
  height: 48px;
  background-position: center;
  background-size: cover;
  transform: rotate(90deg);
}
.vk1 {
  margin-right: 20px;
  background-image: url(./img/Vk.png);
  width: 47px;
  height: 26px;
  background-position: center;
  background-size: cover;
  transform: rotate(90deg);
}
.youtube1 {
  background-image: url(./img/Youtube.png);
  width: 47px;
  height: 30px;
  background-position: center;
  background-size: cover;
  transform: rotate(90deg);
}
.nav {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 150px;
  display: flex;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
}

.nav__wrapper {
  width: 1100px;
  min-width: 576px;
  display: flex;
  justify-content: space-between;
}
.nav__wrapper > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.nav_number__wrapper {
  color: white;
  text-align: center;
  padding: 50px 16px;
}
.nav_number__wrapper > img {
  height: 2px;
  width: 120px;
}

.nav_button {
  display: block;
  color: white;
  text-align: center;
  padding: 50px 16px;
  text-decoration: none;
}
.nav_button:hover {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}
.nav_number__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
#hamburger-menu {
  display: none;
}
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span {
  display: block;
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.menu__btn > span::before {
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ffffff;
}
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #ffffff;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  padding: 80px 0;
  list-style: none;
  text-align: left;
  background-color: #333333;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.menu__box > div {
  margin-top: 50%;
  margin-left: 70px;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: rgb(71, 69, 69);
}
.menu__box_img__wrapper {
  display: flex;
  flex-direction: column;
}

.vk {
  padding: 20px 20px 20px 0;
}
.youtube,
.fb,
.inst {
  padding: 20px;
}

.swiper {
  width: 370px;
  height: 510px;
  display: flex;
  flex-direction: column;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide-next,
.swiper-slide-prev {
  filter: sepia(100%);
}

.container {
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.swiper-button-prev-unique,
.swiper-button-next-unique {
  cursor: pointer;
  opacity: 0.5;
}
.opacity {
  opacity: 1;
}
.swiper-button-prev-unique > span {
  margin-left: 20px;
}
.swiper-button-next-unique > span {
  margin-right: 20px;
}
.second_slide {
  width: 100%;
  height: 800px;
  display: flex;
  background-color: rgba(51, 51, 51);
  color: white;
}
.second_slide__wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.second_slide__info_wrapper {
  width: 1000px;
  min-width: 576px;
  padding-top: 100px;
  font-family: "Open Sans Condensed", sans-serif;
  display: flex;
  justify-content: space-between;
}
.second_slide__wrapper > h1 {
  font-size: 48px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 150px;
}
.second_slide__wrapper > h1 > span,
.theater_description > span {
  color: goldenrod;
}
.theater_title {
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.theater_description {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
}
.theater_img {
  margin-bottom: 15px;
}
.third_slide {
  width: 100%;
  min-width: 576px;
  height: 1000px;
  display: flex;
  background-color: rgba(51, 51, 51);
  color: white;
}
.third_slide__wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third_slide__title {
  font-size: 48px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 100px;
}
.third_slide__title > span {
  color: goldenrod;
}
.slide3 img {
  display: block;
  width: 300px;
  height: 400px;
  object-fit: cover;
  opacity: 0.5;
}
.swiper-slide3-active {
  filter: saturate(3);
  opacity: 1;
}
.mySecSwiper {
  width: 1200px;
  height: auto;
}
.myThirdSwiper {
  width: 576px;
  height: auto;
  display: none;
}
.slide33 img {
  display: block;
  width: 290px;
  height: 400px;
  object-fit: cover;
  opacity: 0.5;
}
.forth_slide {
  width: 100%;
  display: flex;
  background-color: rgba(51, 51, 51);
}
.rating {
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  top: 0;
  left: 0;
  width: 1100px;
  height: 500px;
  background-image: url("./img/rating.png");
  background-position: center;
  background-size: cover;
  min-width: 576px;
}
.fifth_slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(51, 51, 51);
}
.fifth_slide > h1 {
  font-size: 48px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: auto;
  margin-bottom: 60px;
  color: white;
}
.fifth_slide > h1 > span {
  color: goldenrod;
}
.partners {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 120px;
}
.partners1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners1 > img {
  margin-right: 80px;
}
.partners1 > img:last-child {
  margin: 0;
}
.sixth_slide > h1 {
  font-size: 48px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: auto;
  margin-bottom: 60px;
  color: white;
}
.sixth_slide {
  width: 100%;
  min-width: 576px;
  background-color: rgba(51, 51, 51);
  display: flex;
  flex-direction: column;
}
.sixth_slide > h1 > span {
  color: goldenrod;
}
.sixth_slide__wrapper {
  margin: auto;
  width: 1100px;
  min-width: 576px;
  display: flex;
  justify-content: space-between;
}
.fields_wrapper {
  display: flex;
  flex-direction: column;
  width: 730px;
  min-width: 576px;
}
.inputs_wrapper {
  display: flex;
  margin-bottom: 40px;
}
.inputs {
  display: flex;
}
.inputs > div {
  margin-right: 30px;
}
.inputs > div > input {
  width: 180px;
  height: 35px;
  margin-bottom: 30px;
  background-color: #444444;
  border: none;
}
.inputs > div > input::placeholder {
  color: gray;
  padding-left: 15px;
}
.message > textarea {
  width: 310px;
  height: 100px;
  background-color: #444444;
  border: none;
  resize: none;
}
.message > textarea::placeholder {
  color: gray;
  padding-left: 15px;
  padding-top: 10px;
}
.inputs > input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.message > textarea:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.number {
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  width: 255px;
}
.number > div > p {
  margin-bottom: 25px;
}
.button_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.button_wrapper > p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: gray;
  width: 390px;
}
.button_wrapper > button {
  width: 190px;
  height: 50px;
  background-color: goldenrod;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}
.footer {
  width: 100%;
  background-color: rgba(51, 51, 51);
  display: flex;
}
.footer_wrapper {
  margin: auto;
  width: 1100px;
  min-width: 576px;
  display: flex;
}
.footer_info {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 576px;
  font-family: "Open Sans", sans-serif;
  color: gray;
  font-size: 12px;
}
.footer_info > img {
  margin-bottom: 30px;
}
.footer_info > div {
  display: flex;
  justify-content: space-between;
}
.footer_info > div > p {
  margin-bottom: 30px;
}
@media (max-width: 1300px) {
  .mySwiper {
    display: none;
  }
}

@media (max-width: 1200px) {
  .mySecSwiper {
    display: none;
  }
  .myThirdSwiper {
    display: flex;
  }
}
@media (max-width: 1100px) {
  .sixth_slide__wrapper {
    width: 730px;
    min-width: 576px;

    flex-direction: column-reverse;
    align-items: center;
  }
  .number {
    width: 100%;
    min-width: 576px;
    flex-direction: row;
    justify-content: space-between;
  }
  .number > div:last-child > p {
    text-align: right;
  }
  .fields_wrapper {
    margin-bottom: 80px;
  }
}
@media (max-width: 1050px) {
  .partners1 > img:last-child {
    display: none;
  }
  .partners1 > img {
    margin-right: 60px;
  }
  .partners1 > img:nth-child(3) {
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .theater_real {
    display: none;
  }
  .second_slide__info_wrapper {
    width: 576px;
  }
}
@media (max-width: 992px) {
  .nav__wrapper {
    flex-direction: column;
  }
  .nav__wrapper > ul {
    margin: auto;
  }
  .nav_number__wrapper {
    padding-top: 0;
  }
  .sixth_slide__wrapper,
  .number {
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    height: 800px;
  }
  .nav__wrapper {
    flex-direction: row;
  }
  .nav__wrapper > ul {
    display: none;
  }
  .nav_number__wrapper {
    padding-top: 50px;
    justify-content: space-between;
  }
  #hamburger-menu {
    position: relative;
    display: block;
    visibility: visible;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    width: 100%;
    z-index: 2;
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    width: 100%;
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }

  .menu__box {
    transition-duration: 0.1s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }
  .sidebar {
    display: none;
  }
  .first_slide__info {
    align-items: center;
    justify-content: center;
  }
  .rating {
    height: 400px;
  }
  .partners1 > img:nth-child(3) {
    display: none;
  }
  .partners1 > img:nth-child(2) {
    margin: 0;
  }

  .inputs {
    justify-content: center;
  }
  .inputs > div {
    width: 230px;
    margin-right: 50px;
  }
  .inputs > div > input {
    width: 230px;
  }
  .inputs_wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .inputs > div:last-child {
    margin-right: 0;
  }
  .message,
  .message > textarea {
    width: 509px;
  }
  .button_wrapper {
    align-items: center;
    flex-direction: column-reverse;
  }
  .button_wrapper > button {
    margin-bottom: 30px;
  }
  .button_wrapper > p {
    text-align: center;
  }
  .sixth_slide__wrapper {
    width: 576px;
  }
  .fields_wrapper {
    width: 576px;
    margin-bottom: 20px;
  }
  .number {
    width: 576px;
  }
  .sixth_slide__wrapper {
    justify-content: center;
  }
  #app {
    overflow-x: hidden;
  }
}
@media (max-width: 620px) {
  .second_slide {
    height: 1500px;
  }
  .second_slide__info_wrapper {
    align-items: center;
    flex-direction: column;
  }
  .theater {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
