/** @format */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}
.app {
  display: flex;
}
.app__wrapper {
  min-width: 576px;
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.first_slide {
  display: flex;
  position: relative;
}
.first_slide__wrapper {
  width: 100%;
  margin: auto;
  color: aliceblue;
}
.first_slide__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/Rectangle3.png");
  background-position: center;
  background-size: cover;
}
.nav {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.nav__wrapper {
  width: 1000px;
  min-width: 576px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.nav__wrapper > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.nav_number__wrapper {
  color: white;
  text-align: center;
  padding: 50px 16px;
}
.nav_number__wrapper > img {
  height: 2px;
  width: 120px;
}

.nav_button {
  display: block;
  color: white;
  text-align: center;
  padding: 50px 16px;
  text-decoration: none;
}
.nav_button:hover {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}
.nav_number__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
#hamburger-menu {
  display: none;
}
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span {
  display: block;
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.menu__btn > span::before {
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ffffff;
}
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #ffffff;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  padding: 80px 0;
  list-style: none;
  text-align: left;
  z-index: 0;
  background-color: #333333;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.menu__box > div {
  margin-top: 50%;
  margin-left: 70px;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: rgb(71, 69, 69);
}
.menu__box_img__wrapper {
  display: flex;
  flex-direction: column;
}

.vk {
  padding: 20px 20px 20px 0;
}
.youtube,
.fb,
.inst {
  padding: 20px;
}
.sidebar {
  width: 150px;
}
@media (max-width: 992px) {
  .nav__wrapper {
    flex-direction: column;
  }
  .nav__wrapper > ul {
    margin: auto;
  }
  .nav_number__wrapper {
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .nav__wrapper {
    flex-direction: row;
  }
  .nav__wrapper > ul {
    display: none;
  }
  .nav_number__wrapper {
    padding-top: 50px;
    justify-content: space-between;
  }
  #hamburger-menu {
    position: relative;
    display: block;
    visibility: visible;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    width: 100%;
    z-index: 1;
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    width: 100%;
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }

  .menu__box {
    transition-duration: 0.1s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }
}
